body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url('1e66006ee449aade7ed8869b813b55e3.jpg');
}
